
.home {
    background-image: linear-gradient(0deg,
            rgba(0, 51, 149, 0),
            rgba(0, 51, 149, 0)),
        url(../assests/Background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 200px;
}


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

// ? Reassign any bulma variables
$family-sans-serif: "Roboto", sans-serif;

// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/

// ? Import bulma
@import "../../node_modules/bulma/bulma.sass";